@font-face {
    font-family: main;
    src: url(./FONT/FoundersGrotesk-Semibold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #E7E7E2;
    color: #383631;
}

.logo {
    height: 10vh;
    width: 100%;
    padding: 1vw 0vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h1{
    font-family: "main";
    letter-spacing: 2px;
    font-size: 4vw;
}

.image_search{
    min-height: 5vh;
    padding: 0.5vw;
    position: relative;
}

#searchtext{
    padding: 0.5vw 2vw;
    height: 3vw;
    width: 100%;
    background-color: #c0c0bf;
    border: none;
    color: #383631;
    border-radius: 50px;
    font-size: 1vw;
    font-weight: 700;
}

.image_search i{
    font-size: 1.5vw;
    position: absolute;
    right: 2%;
    top: 30%;
    color: #383631a8;
}

.image_search i:hover{
    cursor: pointer;
}

.images{
    min-height: 100vh;
    width: 100vw;
    padding: 1vw;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 400px;
    gap: 10px; /* Adjust gap as needed */
}

.item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.item {
    position: relative;
    display: inline-block;

}
.item img {
    width: 100%;
    height: 100%;
    display: block;
}
.item .fullscreen-icon {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: white;
}
.item:hover .fullscreen-icon {
    display: flex;
}

@media (max-width: 600px) {

    .logo h1{
        font-size: 10vw;
    }
    .container {
        grid-template-columns: 1fr !important;
    }
    
    #searchtext{
        height: 8vw;
        font-size: 3vw;
        font-weight: 600;
    }
    
    .image_search i{
        font-size: 4vw;
        top: 25%;
        right: 5%;
        
    }
}

@media (max-width: 992px) {

    .logo h1{
        font-size: 10vw;
    }
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
    
    #searchtext{
        height: 8vw;
        font-size: 3vw;
        font-weight: 600;
    }
    
    .image_search i{
        font-size: 4vw;
        top: 25%;
        right: 5%;
        
    }
}